h1 {
  background: #000;
  filter:alpha(opacity=30);
  border-bottom: 3px solid #fff;
}

.container {
  width: 1010px;
}
section {
  background: #fff;
  filter:alpha(opacity=50);
}

.links li {
  background: #666;
  filter:alpha(opacity=30);
}
